#sliderDashboard{
    height: 220px;
    width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

#sliderDashboard img{
  vertical-align: middle;
  height: 220px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#redLightBtn{
  position: absolute;
  z-index: 2;
  margin-top: -200px;
  margin-left: 1000px;
}
  
  #centerDashboard{
    display: flex;
    justify-content: center;
  }

  #dashboard_column{
    padding: 20px;
    background-color: white;
    height: 360px;
    width:93%;
  }
  
  #dashboard_title{
    display: flex;
  } 
  
  #title{
    width: 80%;
    font-size: larger;
  }

  #searchBarLocation{
    display: flex;
  }
  
  #searchBarLocation input[type=text] {
    float: left;
    padding: 5px;
    font-size: 13px;
    border: 2px solid rgb(3, 3, 3);
    float: left;
    width: 80%;
  }
  
  #searchBarLocation button {
    width: 20%;
    padding: 5px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(3, 3, 3);
    border-left: none; 
    font-size: 13px;
  }
  
  #searchBarLocation::after {
    content: "";
    clear: both;
    display: table;
  }

  #dashboard_locationBtn{
    overflow: auto;
  }

  #addCamBtn{
    position: absolute;
    z-index: 2;
    margin-top: -50px;
    margin-left: 1100px;
  }