body{
    background-color: rgb(214, 222, 230);
    display: flex;
    justify-content: center;
}

#login_column{
    border: #a1a1a1;
    display: flex; 
    background-color: white;
    border-radius: 20px;
    height: 652px;
    width: 95%;  
}

#login_credential{
    display: flex; 
    align-items: center;
    width: 55%;
    padding: 50px;
}

#login_pic{
    width: 45%;
    background-image: url("resources/loginPic.jpg");
    border-radius: 0px 20px 20px 0px;
    background-size: cover;
}

.btn{
    margin-left: 15px; 
    margin-top: 10px
}

#snackbarLogin {
  visibility: hidden;
  min-width: 230px;
  margin-left: -125px;
  background-color: #a1a1a1;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbarLogin.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
