/* start logo colour  */
.white-image {
  filter: brightness(200%); /* Adjust the percentage as needed */
}
/* end logo colour  */

#screenshots{
    display:flex
}

#locationScreenshots{
    background-color:  #fafcff;
    padding: 20px;
    height: 650px;
    width: 20%;
}

#screenshotsColumn{
    padding: 20px;
    background-color: white;
    height: 590px;
    width: 80%;
}


/* styles.css *//* styles.css */
/* Style for the container holding the grid items */
#listScreenshot {
  display: flex;
  flex-direction: column; /* Display items in a column */
}

/* Style for each row in the grid */
.grid-row {
  display: flex;
  justify-content: space-between; /* Place items evenly along the row */
  margin-bottom: 20px; /* Adjust the margin between rows */
}

/* Style for each grid item */
.grid-item {
  flex: 0 0 calc(50% - 10px); /* Each item takes up 50% width with a little spacing */
  border: 1px solid #ccc; /* Add a border around each grid item */
  padding: 10px; /* Add padding to each item */
  box-sizing: border-box; /* Include padding and border in the item's width */
}

footer {
  background-color: #5599fd; /* Dark blue */
  color: #ecf0f1; /* Light text */
  text-align: center;
  padding: 10px;
  font-size: 12px;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Optional: ensure the footer is above other content */
}   

