#screenshots{
    display:flex
}

#locationScreenshots{
    background-color:  rgb(252, 253, 243);
    padding: 20px;

    height: 650px;
    width: 20%;
}

#screenshotsColumn{
    padding: 20px;
    background-color: white;
    height: 590px;
    width: 80%;
}

#listScreenshot{
    display:flex
}